{{#if l3}}
    {{> sideNav }}
{{else if l2}}
    {{> sideNavlevel_two }}
{{else }}
    {{> sideNavlevel_one }}
{{/if}}

<div class="all-container">

    <div class="all-main-content">
        <div class="all-main-content-wrapper">
            <div class="main-content-manage-acct">

                {{> topNav }}



                <main>

                    <div class="task-container">

                        <h3>Change SMS Contact</h3>

                        <div class="form-wrapper-task">
                            <div class="manageVoucher-error" id="manage-acct-error">
                                <button id="times-button-error" class="times-button">&times;</button>
                                <i class="fas fa-exclamation-triangle"></i>
                                <small></small>
                            </div>

                            <div class="manageVoucher-success" id="manage-acct-success">
                                <button id="times-button-success" class="times-button">&times;</button>
                                <i class="fas fa-thumbs-up"></i>
                                <small></small>
                            </div>




                            <form action="/changephonecontact" method="post" id="change-contact-form">

                                <div class="form-control">
                                    <label for="msisdn">Subscriber msisdn:</label>
                                    <input type="text" id="msisdn" name="msisdn" placeholder="233255..." required autocomplete="true" autofocus minlength="12" pattern="^233255.+">
                                </div>

                                <div class="form-control">
                                    <label for="contact-type">Contact Type:</label>
                                    <select name="contact-type" id="contact-type" required>
                                        <option value="phone_type">Phone Contact</option>
                                        <option value="email_type">Email</option>
                                    </select>

                                </div>

                                <div class="form-control">
                                    <label for="phone-contact">New Contact:</label>
                                    <input type="text"  id="phone-contact" name="phone-contact" autofocus autocomplete="true" required>

                                </div>

                                <div id="progressIndicator-manage-acct" class="progressIndicator">
                                    <img src="/images/ajax-loader.gif" alt="Loading Bundles...">
                                </div>

                                <div class="form-control form-control-btn">
                                    <button class="proceed-btn">Submit</button>
                                </div>

                            </form>

                        </div>

                    </div>
                </main>

            </div>

        </div>
    </div>


</div>






