{{#if l3}}
    {{> sideNav }}
{{else if l2}}
    {{> sideNavlevel_two }}
{{else }}
    {{> sideNavlevel_one }}
{{/if}}

<div class="all-container">

    <div class="all-main-content">
        <div class="all-main-content-wrapper">
            <div class="form-wrapper">
                <div class="manageVoucher-error" id="manageVoucher-error">
                    <button id="times-button-error" class="times-button">&times;</button>
                    <i class="fas fa-exclamation-triangle"></i>
                    <small></small>
                </div>

                <form action="/checkvoucher" method="post" id="check-voucher-form">
                    <div class="form-group1">
                        <label for="serial-voucher">Voucher Serial: </label>
                        <input type="text" id="serial-voucher" name="serial_voucher" placeholder="Enter serial number ..." required autofocus autocomplete="true">
                    </div>
                    <div id="progressIndicator-manageVoucher" class="progressIndicator">
                        <img src="/images/ajax-loader.gif" alt="Loading...">
                    </div>
                    <div class="form-group-button ">
                        <button type="submit" class="loadcard-btn">Submit</button>
                    </div>
                </form>

            </div>
            <div class="manage-voucher-info-container" id="manage-voucher-info-container">
                <div class="manage-voucher-info" id="manage-voucher-info">
                </div>
                <div class="update-voucher-status-wrapper">
                    <a href="" id="update-voucher-status">Update Voucher Status</a>
                </div>
            </div>



            </div>

        </div>
    </div>



