{{#if l3}}
    {{> sideNav }}
{{else if l2}}
    {{> sideNavlevel_two }}
{{else }}
    {{> sideNavlevel_one }}
{{/if}}

<div class="all-container">

    <div class="all-main-content">
        <div class="all-main-content-wrapper">
            <div class="main-content-manage-acct">
                <header>
                    <nav>
                        <ul class="mgm-ul">
                            <li><a href="" class="mgm-links" data-id="gen-code">Generate MGM Code</a></li>
                            <li><a href="" class="mgm-links" data-id="act-code">Activate MGM Code</a></li>
                            <li><a href="" class="mgm-links" data-id="get-code">Get MGM Code Details</a></li>
                            <li><a href="" class="mgm-links" data-id="sub-ref">MGM Subscribers Referred</a></li>
                        </ul>
                        <ul id="infleuncer-ul">
                            <li><a href="" class="mgm-links" data-id="assign-code">Assign Code To Affiliate</a></li>
                            <li><a href="" class="mgm-links" data-id="show-infs">Get All Affiliates</a></li>
                        </ul>
                    </nav>
                </header>

                <main class="mgm-main">
                    <div class="task-container-mgm gen-code">
                        <div class="form-wrapper-mgm">
                            <div class="manageVoucher-error mgm-error" id="mgm-error-gencode">
                                <button  class="times-button times-button-mgm">&times;</button>
                                <i class="fas fa-exclamation-triangle"></i>
                                <small></small>
                            </div>

                            <div class="manageVoucher-success mgm-success" id="mgm-success-gencode">
                                <button  class="times-button times-button-mgm">&times;</button>
                                <i class="fas fa-thumbs-up"></i>
                                <small></small>
                            </div>
                            <form action="" id="gen-code-form">
                                <div class="form-control">
                                    <label for="msisdn-gencode">Subscriber msisdn:</label>
                                    <input type="text" id="msisdn-gencode" name="msisdn-gencode" placeholder="233255..."
                                           required autofocus autocomplete="true" minlength="12" pattern="^233255.+">
                                </div>

                                <div id="progressIndicator-gencode" class="progressIndicator mgm-progress">
                                    <img src="/images/ajax-loader.gif" alt="Loading Bundles...">
                                </div>
                                <div class="form-control form-control-btn">
                                    <button class="proceed-btn" type="submit">Generate</button>
                                </div>
                            </form>

                        </div>


                    </div>
                    <div class="task-container-mgm act-code">
                        <div class="form-wrapper-mgm">
                            <div class="manageVoucher-error mgm-error" id="mgm-error-actcode">
                                <button class="times-button times-button-mgm">&times;</button>
                                <i class="fas fa-exclamation-triangle"></i>
                                <small></small>
                            </div>

                            <div class="manageVoucher-success mgm-success" id="mgm-success-actcode">
                                <button class="times-button times-button-mgm">&times;</button>
                                <i class="fas fa-thumbs-up"></i>
                                <small></small>
                            </div>
                            <form action="" id="act-code-form">
                                <div class="form-control">
                                    <label for="msisdn-actcode">Referred msisdn:</label>
                                    <input type="text" id="msisdn-actcode" name="msisdn-actcode" placeholder="233255..."
                                           required autofocus autocomplete="true" minlength="12" pattern="^233255.+">
                                </div>

                                <div class="form-control">
                                    <label for="code-actcode">Code:</label>
                                    <input type="text" id="code-actcode" name="code-act" placeholder="Enter code ..."
                                           required minlength="6">
                                </div>


                                <div id="progressIndicator-actcode" class="progressIndicator mgm-progress">
                                    <img src="/images/ajax-loader.gif" alt="Loading Bundles...">
                                </div>

                                <div class="form-control form-control-btn">
                                    <button class="proceed-btn" type="submit">Submit</button>
                                </div>
                            </form>

                        </div>


                    </div>
                    <div class="task-container-mgm get-code">
                        <div class="form-wrapper-mgm">
                            <div class="manageVoucher-error mgm-error" id="mgm-error-getcode">
                                <button class="times-button times-button-mgm">&times;</button>
                                <i class="fas fa-exclamation-triangle"></i>
                                <small></small>
                            </div>

                            <div class="manageVoucher-success mgm-success" id="mgm-success-getcode">
                                <button class="times-button times-button-mgm">&times;</button>
                                <i class="fas fa-thumbs-up"></i>
                                <small></small>
                            </div>
                            <form action="" id="get-code-form">
                                <div class="form-control">
                                    <label for="code-getcode">Code:</label>
                                    <input type="text" id="code-getcode" name="code-getcode"
                                           placeholder="Enter code ..." required minlength="6" maxlength="6"
                                           pattern="[0-9A-Z]+">
                                </div>
                                <div id="progressIndicator-getcode" class="progressIndicator mgm-progress">
                                    <img src="/images/ajax-loader.gif" alt="Loading Bundles...">
                                </div>

                                <div class="form-control form-control-btn">
                                    <button class="proceed-btn" type="submit">Submit</button>
                                </div>
                            </form>

                        </div>

                        <div class="getcode-tableWrapper" id="getcode-tableWrapper">
                            <table id="getCode-table" class="getCode-table">
                                <tbody id="getcode-table-tbody">

                                </tbody>

                            </table>
                        </div>


                    </div>
                    <div class="task-container-mgm sub-ref">
                        <div class="form-wrapper-mgm">
                            <div class="manageVoucher-error mgm-error" id="mgm-error-subref">
                                <button class="times-button times-button-mgm">&times;</button>
                                <i class="fas fa-exclamation-triangle"></i>
                                <small></small>
                            </div>

                            <div class="manageVoucher-success mgm-success" id="mgm-success-subref">
                                <button  class="times-button times-button-mgm">&times;</button>
                                <i class="fas fa-thumbs-up"></i>
                                <small></small>
                            </div>
                            <form action="" id="sub-ref-form">
                                <div class="form-control">
                                    <label for="msisdn-sub-ref">Referral msisdn:</label>
                                    <input type="text" id="msisdn-sub-ref" name="msisdn-sub-ref" placeholder="233255..."
                                           required autofocus autocomplete="true" minlength="12" pattern="^233255.+">
                                </div>
                                <div id="progressIndicator-subref" class="progressIndicator mgm-progress">
                                    <img src="/images/ajax-loader.gif" alt="Loading Bundles...">
                                </div>

                                <div class="form-control form-control-btn">
                                    <button class="proceed-btn" type="submit">Submit</button>
                                </div>
                            </form>

                        </div>

                        <div class="sub-ref-tableWrapper" id="sub-ref-tableWrapper">
                            <table id="sub-ref-table" class="sub-ref-table">
                                <tbody id="sub-ref-table-tbody">

                                </tbody>

                            </table>
                        </div>


                    </div>


                    <div class="task-container-mgm assign-code">
                        <div class="form-wrapper-mgm">
                            <div class="manageVoucher-error mgm-error" id="mgm-error-assignCode">
                                <button class="times-button times-button-mgm">&times;</button>
                                <i class="fas fa-exclamation-triangle"></i>
                                <small></small>
                            </div>

                            <div class="manageVoucher-success mgm-success" id="mgm-success-assignCode">
                                <button  class="times-button times-button-mgm">&times;</button>
                                <i class="fas fa-thumbs-up"></i>
                                <small></small>
                            </div>
                            <form action="" id="assign-code-form">
                                <div class="form-control">
                                    <label for="inf-firstname">First Name:</label>
                                    <input type="text" id="inf-firstname" name="inf-firstname" placeholder="Edja..."
                                           required autofocus autocomplete="true">
                                </div>
                                <div class="form-control">
                                    <label for="inf-lasttname">Last Name:</label>
                                    <input type="text" id="inf-lastname" name="inf-lastname" placeholder="Polley..."
                                           required autofocus autocomplete="true">
                                </div>
                                <div class="form-control">
                                    <label for="inf-code">Code:</label>
                                    <input type="text" id="inf-code" name="inf-code" placeholder="Enter code ..."
                                           required minlength="6">
                                </div>
                                <div class="form-control">
                                    <label for="inf-msisdn">Surfline Number:</label>
                                    <input type="text" id="inf-msisdn" name="inf-msisdn" placeholder="233255..."
                                           autofocus autocomplete="true" minlength="12" pattern="^233255.+">
                                </div>
                                <div id="progressIndicator-assignCode" class="progressIndicator mgm-progress">
                                    <img src="/images/ajax-loader.gif" alt="Loading Bundles...">
                                </div>

                                <div class="form-control form-control-btn">
                                    <button class="proceed-btn" type="submit">Submit</button>
                                </div>
                            </form>

                        </div>



                    </div>
                    <div class="task-container-mgm show-infs">
                        <div class="form-wrapper-mgm" id="form-wrapper-show-infs">
                            <div class="manageVoucher-error mgm-error" id="mgm-error-show-infs">
                                <button class="times-button times-button-mgm">&times;</button>
                                <i class="fas fa-exclamation-triangle"></i>
                                <small></small>
                            </div>

                            <div class="manageVoucher-success mgm-success" id="mgm-success-show-infs">
                                <button  class="times-button times-button-mgm">&times;</button>
                                <i class="fas fa-thumbs-up"></i>
                                <small></small>
                            </div>
                            <form action="" id="show-infs-form">
                                <div id="progressIndicator-show-infs" class="progressIndicator mgm-progress">
                                    <img src="/images/ajax-loader.gif" alt="Loading Bundles...">
                                </div>

                                <div class="form-control form-control-btn">
                                    <button class="proceed-btn" type="submit" id="show-ifs-btn">Click to Fetch Data</button>
                                </div>
                            </form>

                        </div>

                        <div class="show-infs-tableWrapper" id="show-infs-tableWrapper">
                            <table id="show-infs-table" class="show-infs-table">
                                <tbody id="show-infs-table-tbody">

                                </tbody>

                            </table>
                        </div>


                    </div>


                </main>

            </div>

        </div>
    </div>


</div>

