{{#if l3}}
    {{> sideNav }}
{{else if l2}}
    {{> sideNavlevel_two }}
{{else }}
    {{> sideNavlevel_one }}
{{/if}}

<div class="all-container">

    <div class="all-main-content">
        <div class="all-main-content-wrapper">
            <div class="form-wrapper">
                <div class="manageVoucher-error" id="oversratch-topup-error">
                    <button id="times-button-error" class="times-button">&times;</button>
                    <i class="fas fa-exclamation-triangle"></i>
                    <small></small>
                </div>

                <div class="manageVoucher-success" id="oversratch-topup-success">
                    <button id="times-button-success" class="times-button">&times;</button>
                    <i class="fas fa-thumbs-up"></i>
                    <small></small>
                </div>

                <form action="/overscratchtop" method="post" id="oversratch-topup-form">
                    <div class="form-group1">
                        <label for="msisdn-overscratch">Subscriber msisdn: </label>
                        <input type="text" id="msisdn-overscratch" name="msisdn_overscratchtop" placeholder="Enter msisdn 233255..."
                               maxlength="12" minlength="12" required autofocus autocomplete="true">
                    </div>
                    <div class="form-group1">
                        <label for="oversratchserial">Voucher SERIAL: </label>
                        <input type="text" id="oversratchserial" name="serial_overscratchtop" placeholder="Enter serial number ..." required  autocomplete="true">
                    </div>
                    <div id="progressIndicator-overscratch" class="progressIndicator">
                        <img src="/images/ajax-loader.gif" alt="Loading Bundles...">
                    </div>
                    <div class="form-group-button ">
                        <button type="submit" class="loadcard-btn">Send</button>
                    </div>

                </form>

            </div>

        </div>
    </div>


</div>

